body{
    background-color: greenyellow;

}
h1{
    background-color: darkgrey; color: ghostwhite; text-align: center;
    margin: 0px;
}
h2{
    color: red;
    text-align: center;
}
a{
    text-decoration: none;
}
.spava{
    float: right;
    border: 2px solid red;
    margin-left: 210px;
   
    
}
.leva{
    
    border: 2px solid gray;
    
     width: 200px;
     height: auto;
     background-color: grey;
     float: left;
}